/*
-moz-
-webkit-
-ms-
-o-
<--prefixes for browsers */
@font-face {
  src:url(../Fonts/yu-mincho-regular.ttf);
  font-familty: yu-mincho-regular ; 
}
body {
  font-family: yu-mincho-regular;
  font-size: 1.5em;
}
